{%extends 'clubsapp/base.html'%}
{%load static%}
{%block title%}{{ title|title }}{%endblock%}
{%block content%}
<div class="cards" style="display:flex">
    {% for stadium in stadiums %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{stadium.shrt_name}}</h5>
            <p class="card-text">Статус: {{stadium.status}}</p>
            <p class="card-text">Адрес: {{stadium.jur_addr}}</p>
            <p class="card-text">Фактический адрес: {{stadium.fact_addr}}</p>
            <a href="{% url 'stadiumsapp:stad_info' stadium.pk %}" class="btn btn-primary">Смотреть</a>
        </div>
    </div>
    {%endfor%}
</div>
{%endblock%}
